$purple-color:#9947FF;
$white-color:#FFFFFF;
$white-font:#F7F7FE;
$black-color:#100F10;
$grey-color:#96969B;
$blue-color:#47BAFF;
$black-font:#333;
$title-size:1.125rem;
$subtitle-size:1rem;
$font-size:0.775rem;

$franklin:'Libre Franklin', sans-serif;
$poppins: 'Poppins', sans-serif;