$purple-color:#9947FF;
$white-color:#FFFFFF;
$white-font:#F7F7FE;
$black-color:#100F10;
$grey-color:#96969B;
$blue-color:#47BAFF;
$black-font:#333;
$title-size:1.15rem;
$subtitle-size:1rem;
$font-size:.9rem;

$franklin:'Libre Franklin', sans-serif;
$poppins: 'Poppins', sans-serif;


$title-tablet:1.25rem;
$subtitle-tablet:1.15rem;
$font-tablet:1rem;

$title-desktop:1.8rem;
$subtitle-desktop:1.5rem;
$font-desktop:1.15rem;